h1 {
  color: white;
margin: 25px;
}

.purple {
  color: purple;
}

#red {
  color: red;
}

#big-font {
  font-size: 50px;
}

#bold-font {
  font-weight: bold;
}

.back-black {
  background-color: #000;
}

.small-font {
  font-size: 15px;
}
